/* Colors: Primary > Secondary > Tertiary ; */

.pri-1 { color: #590010; }
.pri-2 { color: #43111A; }
.pri-3 { color: #3A000A; }
.pri-4 { color: #AC2B42; }
.pri-5 { color: #AC4D5E; }

.sec-1 { color: #003E2E; }
.sec-2 { color: #0C2E26; }
.sec-3 { color: #00281E; }
.sec-4 { color: #289E81; }
.sec-5 { color: #479E89; }

.ter-1 { color: #445A00; }
.ter-2 { color: #374411; }
.ter-3 { color: #2C3B00; }
.ter-4 { color: #8DAD2B; }
.ter-5 { color: #95AD4E; }

.grey { color: gray; }
.black { color: black; }

a { color: #479E89; }
a:link { color: #479E89; }
a:visited { color: #479E89; }
a:hover { color: #003E2E; }
a:active { color: #479E89; }