.pri-1 {
	background-color: #590010;
}
.pri-2 {
	background-color: #43111A;
}
.pri-3 {
	background-color: #3A000A;
}
.pri-4 {
	background-color: #AC2B42;
}
.pri-5 {
	background-color: #AC4D5E;
}

				
.sec-1 {
	background-color: #003E2E;
}
.sec-2 {
	background-color: #0C2E26;
}
.sec-3 {
	background-color: #00281E;
}
.sec-4 {
	background-color: #289E81;
}
.sec-5 {
	background-color: #479E89;
}

				
.ter-1 {
	background-color: #445A00;
}
.ter-2 {
	background-color: #374411;
}
.ter-3 {
	background-color: #2C3B00;
}
.ter-4 {
	background-color: #8DAD2B;
}
.ter-5 {
	background-color: #95AD4E;
}